@font-face {
	font-family: 'Oswald Regular';
	src: url('../assets/fonts/Oswald/Oswald-Regular.ttf');
}
@font-face {
	font-family: 'Oswald Bold';
	src: url('../assets/fonts/Oswald/Oswald-Bold.ttf');
}
@font-face {
	font-family: 'Oswald Extra-Light';
	src: url('../assets/fonts/Oswald/Oswald-ExtraLight.ttf');
}
@font-face {
	font-family: 'Oswald Light';
	src: url('../assets/fonts/Oswald/Oswald-Light.ttf');
}
@font-face {
	font-family: 'Oswald Medium';
	src: url('../assets/fonts/Oswald/Oswald-Medium.ttf');
}
@font-face {
	font-family: 'Oswald Semi-Bold';
	src: url('../assets/fonts/Oswald/Oswald-SemiBold.ttf');
}
@font-face {
	font-family: 'codicon';
	src: url('../assets/fonts/codicon/codicon.ttf');
}

* {
	box-sizing: border-box;
	font-family: 'Oswald', sans-serif;
}

html, body, #root {
	height: 100%;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
