body[lang=en] {
    --home: 'Main';
    --skills: 'Skills';
    --experience: 'Experience';
    --ru: 'Russian';
    --en: 'English';
    --pl: 'Polish';
    --light: 'Light';
    --dark: 'Dark';
    --highcontrast: 'High Contrast';
    --footer-text: 'Аpplication source code here';
    --about: 'About Me';
    --name: 'Uladzislau';
    --surname: 'Maksimau';
    --date-of-birth: '##.##.1993 (27 years)';
    --job-title: 'Senior Software Engineer';
    --city: 'Belarus, Minsk / Poland, Cracow';
    --my-photo: 'My Photo';
    --education: 'Education';
    --university: 'Belarusian State University';
    --faculty: 'Faculty of Applied Mathematics and Computer Science';
    --degree: 'Bachelor';
    --specialty: 'Applied Mathematics';
    --qualification: 'Mathematician-Programmer';
    --years: '2011-2017';
    --contacts: 'Contacts';    
    --phone-number-by: '+375 44 5## ## #2';    
    --phone-number-pl: '+48 5## ### ##3';
    --telegram-link: 'https://t.me/@fakeId####';
    --city: 'Cracow';
    --email: 'what@fakemail.com';
}

body[lang=ru] {
    --home: 'Главная';
    --skills: 'Скилы';
    --experience: 'Опыт';
    --ru: 'Русский';
    --en: 'Английский';
    --pl: 'Польский';
    --light: 'Светлая';
    --dark: 'Тёмная';
    --highcontrast: 'Высокий Контраст';
    --footer-text: 'Исходный код приложения тут';
    --about: 'Обо Мне';
    --name: 'Владислав';
    --surname: 'Максимов';
    --date-of-birth: '##.##.1993 (27 лет)';
    --job-title: 'Senior Software Engineer';
    --city: 'Беларусь, Минск / Польша, Краков';
    --my-photo: 'Моё Фото';
    --education: 'Образование';
    --university: 'Белорусский Государственный Университет';
    --faculty: 'Факультет Прикладной Математики и Информатики';
    --degree: 'Бакалавр';
    --specialty: 'Прикладная Математика';
    --qualification: 'Математик-Программист';
    --years: '2011-2017';
    --contacts: 'Контакты';    
    --phone-number-by: '+375 44 5## ## #2';    
    --phone-number-pl: '+48 5## ### ##3';
    --telegram-link: 'https://t.me/@fakeId####';
    --city: 'Краков';
    --email: 'what@fakemail.com';
}

body[lang=pl] {
    --home: 'Główna';
    --skills: 'Umiejętności';
    --experience: 'Doświadczenie';
    --ru: 'Rosyjski';
    --en: 'Angielski';
    --pl: 'Polski';
    --light: 'Light';
    --dark: 'Dark';
    --highcontrast: 'High Contrast';
    --footer-text: 'Kod źródłowy aplikacji tutaj';
    --about: 'O mnie';
    --name: 'Uladzislau';
    --surname: 'Maksimau';
    --date-of-birth: '##.##.1993 (27 lat)';
    --job-title: 'Senior Software Engineer';
    --city: 'Białorus, Mińsk / Polska, Kraków';
    --my-photo: 'Moje Zdjęcie';
    --education: 'Edukacja';
    --university: 'Białoruski Uniwersytet Państwowy';
    --faculty: 'Wydział Matematyki Stosowanej i Informatyki';
    --degree: 'Licencjat';
    --specialty: 'Matematyka Stosowana';
    --qualification: 'Matematyk-Programista';
    --years: '2011-2017';
    --contacts: 'Contacts';    
    --phone-number-by: '+375 44 5## ## #2';    
    --phone-number-pl: '+48 5## ### ##3';
    --telegram-link: 'https://t.me/@fakeId####';
    --city: 'Kraków';
    --email: 'what@fakemail.com';
}

.t-main::before {
    content: var(--home);
}
.t-skills::before {
    content: var(--skills);
}
.t-experience::before {
    content: var(--experience);
}
.t-ru::before {
    content: var(--ru);
}
.t-en::before {
    content: var(--en);
}
.t-pl::before {
    content: var(--pl);
}
.t-light::before {
    content: var(--light);
}
.t-dark::before {
    content: var(--dark);
}
.t-highcontrast::before {
    content: var(--highcontrast);
}
.t-footer-text::before {
    content: var(--footer-text);
}
.t-about::before {
    content: var(--about);
}
.t-name::before {
    content: var(--name);
}
.t-surname::before {
    content: var(--surname);
}
.t-date-of-birth::before {
    content: var(--date-of-birth);
}
.t-job-title::before {
    content: var(--job-title);
}
.t-city::before {
    content: var(--city);
}
.t-my-photo::before {
    content: var(--my-photo);
}
.t-education::before {
    content: var(--education);
}
.t-university::before {
    content: var(--university);
}
.t-faculty::before {
    content: var(--faculty);
}
.t-degree::before {
    content: var(--degree);
}
.t-specialty::before {
    content: var(--specialty);
}
.t-qualification::before {
    content: var(--qualification);
}
.t-years::before {
    content: var(--years);
}
.t-contacts::before {
    content: var(--contacts);
}
.t-phone-number-by::before {
    content: var(--phone-number-by);
}
.t-phone-number-pl::before {
    content: var(--phone-number-pl);
}
.t-telegram-link::before {
    content: var(--telegram-link);
}
.t-city::before {
    content: var(--city);
}
.t-email::before {
    content: var(--email);
}
