body[theme=light] {
    --nav-menu-font-color: #FFFFFF;
    /* --border-color: #3443fb; */

    --html-quote-color: #93A1A1;
    --html-text-color: #333333;
    --html-tag-color: #268BD5;
    --code-tab-backgrount-color: #FDF6E3;
    --code-line-border-color: #828A84;
    --code-line-counter-color: #237893;
    --code-container-background-color: #D9D2C2;
    --vs-code-header-background-color: #EEE8D5;
    --codeicon-color: #A89E84;

    --main-bg-color: #EEE8D5;
    --dd-bg-color: #EEE8D5;
    --dd-text-color: #333333;
    --border-color-main: #D9D2C2;
    --highcontrast-border: none;
}

body[theme=dark] {
    --nav-menu-font-color: #FFFFFF;
    /* --border-color: #3443fb; */

    --html-quote-color: #FF9DA4;
    --html-text-color: #FFFFFF;
    --html-tag-color: #FF9D91;
    --code-tab-backgrount-color: #002451;
    --code-line-border-color: #404F7D;
    --code-line-counter-color: #858585;
    --code-container-background-color: #001733;
    --vs-code-header-background-color: #001126;
    --codeicon-color: #667485;
    
    --main-bg-color: #00346E;
    --dd-bg-color: #00346E;
    --dd-text-color: #FFFFFF;
    --border-color-main: #001733;
    --highcontrast-border: none;
}

body[theme=highcontrast] {
    --nav-menu-font-color: #000000;
    /* --border-color: #3443fb; */

    --html-quote-color: #808080;
    --html-text-color: #FFFFFF;
    --html-tag-color: #569CD6;
    --code-tab-backgrount-color: #000000;
    --code-line-border-color: #FFFFFF;
    --code-line-counter-color: #FFFFFF;
    --code-container-background-color: #001733;
    --vs-code-header-background-color: #000000;
    --codeicon-color: #FFFFFF;

    --main-bg-color: #000000;
    --dd-bg-color: #FFFFFF;
    --dd-text-color: #000000;
    --border-color-main: #F38518;
    --highcontrast-border: 1px solid #6FC3DF;
}
