body[theme=light] {
    --nav-menu-font-color: white;
    --border-color: #3443fb;
}

body[theme=dark] {
    --nav-menu-font-color: white;
    --border-color: #3443fb;
}

body[theme=highcontrast] {
    --nav-menu-font-color: white;
    --border-color: #3443fb;
}
