header {
    height: 70px;
    background-color: var(--header-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-menu-link {
    display: inline-block;
    margin-left: 20px;
}
.settings {
    display: flex;
}
.setting-item {
    margin-right: 20px;
}
footer {
    display: flex;
    height: 30px;
    align-items: center;
    justify-content: center;
}
