.vs-code-container {
    display: inline-block;
    background-color: var(--code-container-background-color);
    width: 100%;
    height: 100%;
}
.content-container {
    display: flex;
    height: calc(100% - 24px);
}
.content {
    flex-grow: 1;
    flex-basis: 400px;
}
.content:not(:last-child) {
    border-right: 1px solid var(--code-line-border-color);
}
.nav-menu-bar {
    width: 30px;
    border-right: var(--highcontrast-border);
}
.explorer-icon,
.search-icon,
.git-icon,
.debug-icon,
.extensions-icon {
    font-family: 'codicon';
    color: var(--codeicon-color);
    margin-top: 15px;
    margin-left: 5px;
    font-size: 20px;
}
.explorer-icon::before {
    content: '\eaf0';
}
.search-icon::before {
    content: '\ea6d';
}
.git-icon::before {
    content: '\ea68';
}
.debug-icon::before {
    content: '\eb91';
}
.extensions-icon::before {
    content: '\eae6';
}
.code-tab-header {
    display: inline-block;
    border-right: var(--highcontrast-border);
}
.code-tab-header,
.code-tab {
    color: var(--html-text-color);
    padding: 5px 10px;
    background-color: var(--code-tab-background-color);
}
.code-tab {
    border-top: var(--highcontrast-border);
    height: calc(100% - 30px);
}
.code-header-bar {
    display: flex;
    align-items: center;
    height: 24px;
    background-color: var(--vs-code-header-background-color);
    color: var(--html-text-color);
    border-bottom: var(--highcontrast-border);
}
.vs-code-icon {
    width: 16px;
    height: 16px;
    margin-left: 7px;
    background: url('../../assets/img/icons.png') -24px 0 no-repeat;
}
.vs-code-menu-item {
    margin-left: 10px;
    font-size: 12px;
}
.my-img {
    background-image: url('../../assets/img/my.JPG');
    background-size: cover;
    height: 100%;
}
body[theme=dark] .my-img {
    background-image: url('../../assets/img/my-dark.jpg');
}
body[theme=highcontrast] .my-img {
    background-image: url('../../assets/img/my-highcontrast.jpg');
}
.image {
    padding: 0 20px;
}
